@font-face {
    font-family: 'Lost in South';
    src: url('/assets/font/LostinSouth.woff2') format('woff2'),
        url('/assets/font/LostinSouth.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


