/* ******************************************** */
/** SETTINGS: COLORS
/* ******************************************** */

:root {

    /* ! COLORS */

    /* * Primary */
    --color-primary: #5271ff; 

    /* * Neutral */
    --color-neutral-100: #FFFFFF;
    --color-neutral-400: #f2f2f1;
    --color-neutral-800: #1E1E1E;

}